.history {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  align-items: center;
  padding-top: 2px;
}

.date {
  font-size: 14px;
  color: var(--color-text-dimmed);
}

.phoneNumber {
  font-size: 14px;
}
